{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-1 col-sm-1 col-lg-1">
		</div>
		<div class="col-11 col-sm-11 col-lg-11">
			<h2>Clinically Important Variants:</h2>
			<h3>The variants displayed on this page are those found in your genome that were included in the
				<a href="https://www.acmg.net/docs/IF_Statement_Final_7.24.13.pdf">ACMG recommendations for
				reporting of incidental findings in exome and genome sequencing.</a></h3>
			<h3>If this list is not empty we recommend that you speak with your primary care physician, as the
				variants and associated diseases in this list are very serious.</h3>
			<p></p>
			<h3>The Variants:</h3>
			{% if ACMGVars != None: %}
				<table border="1" class="sortable table table-striped">
					<tr>
						<td><b>Gene</b></td>
						<td><b>Associated Disease(s)</b></td>
					</tr>
					{% for var in ACMGVars: %}
						<tr>
							<td>{{var[0]}}</td>
							<td>{{var[1]}}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		</div>
	</div>
{% endblock %}