<!DOCTYPE html>
<head>
	<title>3 Billion and Me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="row">
		<div class="col-11 col-sm-11 col-lg-11">
			<h1 style="text-align:center">Three Billion and Me</h1>
		</div>
		<div class="col-1 col-sm-1 col-lg-1">
			<a href={{url_for('login')}}><button class="btn btn-default btn-xs"> Log In</button></a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-12 col-lg-12">
			<p style="text-align:center">Three Billion and Me is a new web application for people who have had their whole genomes scanned
			to find out what can be known from that information.</p>
		</div>
	</div>
	
	{% block content %}{% endblock %}
	
</body>
</html>